/* CSS Written by Kelly Thomas-Cutshaw */

/*GLOBAL STYLES (MOBILE FIRST)*/
body {
    display: grid;
    grid-template-columns: 1fr;
    /*grid-template-rows: auto 1fr auto;*/
    background-color: green;
   /* margin: 0;
    padding: 0; */


  /*  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black; */
    
}
@media screen and (min-width: 600px) {
    body {
        grid-template-columns: 1fr 1fr;
        background-color: lightblue;
    }
}